body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.main-home {
  padding: 1rem;
  display: grid;
}

@media (orientation: landscape) {
  .main-home {
    grid-template-columns: 2fr 1fr;
  }
}

@media (orientation: portrait) {
  .main-home {
    grid-template-columns: 1fr;
  }
}
